.container-principal {
    margin-left: 80px;
}

.container-conteudo{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.fileira-cards{
    display: flex;
    justify-content: center;
}