@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Outfit", sans-serif !important;

}

.menuItem {
    font-size: 22px;
    color: rgba(0, 122, 255, 1);
    padding-right: 13px;
    padding-left: 7px;
    width: 22px;
}

.menuText {
    font-size: 13px;
}

